<!DOCTYPE html>
<head>
<title>Dropbox Window</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    @font-face {
        font-family: 'qrcode';
        src: url({{ url_for('static', filename='qrcode.ttf') }}) format("truetype");
    }
</style>
</head>
<body>
<div class="container">
    <h1>Dropbox Window</h1>
    <div id="qrcode">
        <blockquote>{{ qrcode }}</blockquote>
        <p class="link">
        Scan QR code or visit: <input readonly="true" value="{{ url }}" />
        </p>
    </div>
    <div id="filepicker">
        <div id="dropzone">
            <span>Drop Here!<br />(or click to pick a file)</span>
            <input type="file" />
        </div>
        <span id="logout">Logout</span>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
